[Unit]
Description=netatalk-classic AppleTalk protocol server for Macintosh clients
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=:SBINDIR:/atalkd
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
